{{define "body"}}
    <div id="image_1">
      <img id="image_1" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image1}}>
    </div>
    <div id="image_2">
      <img id="image_2" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image2}}>
    </div>
    <div id="image_3">
      <img id="image_3" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image3}}>
    </div>
    <div id="image_4">
      <img id="image_4" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image4}}>
    </div>
    <div id="restart">Back to Start</div>

{{end}}
