<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{.Title}}</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/static/css/main.css">
  <script>

    function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function delCookie(cname) {
      var expires = "expires=Thu, 01 Jan 1970 00:00:00 UTC";
      document.cookie = cname + "=;" + expires + ";path=/";
    }

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function newSessionId() {
      max_id = 999999999999999
      session_id = Math.floor(Math.random() * Math.floor(max_id));
      setCookie("session_id", session_id, 1)
      console.log("session_id set to " + session_id)
    }

    function DoPost(object){
      if (object.id == "restart") {
        console.log("restarting")
        delCookie("session_id")
        setCookie("phase", 1, 1)
      }
      var url = "http://0.0.0.0:9000/post"
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, false);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
      if (object.id == "restart") {
        console.log("restarting")
        delCookie("session_id")
        newSessionId()
        delCookie("phase")
        setCookie("phase", 1, 1)
        xhr.send("restart=true&selected="+object.id);
      } else {
        xhr.send("selected="+object.id);
        current_phase = parseInt(getCookie("phase"))
        next_phase = String(current_phase + 1).padStart(3, '0')
        console.log("Next phase: " + next_phase)
        setCookie("phase", current_phase + 1, 1)
      }
      console.log(xhr)
      console.log("sent to " + url)
      location.reload(); 
    }

    var cookie_session_id = getCookie("session_id")
    if (cookie_session_id == "") {
      newSessionId()
      setCookie("phase", 1, 1)
      location.reload(); 
      //window.location = "http://0.0.0.0:9000/phase/001"
    } else {
      console.log("session id was already " + cookie_session_id)
    }
    var cookie_phase = getCookie("phase")
    if (cookie_phase == "") {
      setCookie("phase", 1, 1)
      console.log("phase set to " + session_id)
      location.reload(); 
      //window.location = "http://0.0.0.0:9000/phase/001"
    } else {
      console.log("phase was already " + cookie_phase)
    }
    
  </script>
</head>
<body>
  <div id="frame"> 
    {{template "body" .}}
  </div>
</body>
