{{define "body"}}
    <div id="image_1">
      <img class="image_1" id="{{.Image1}}" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image1}}>
    </div>
    <div id="image_2">
      <img class="image_2" id="{{.Image2}}" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image2}}>
    </div>
    <div id="image_3">
      <img class="image_3" id="{{.Image3}}" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image3}}>
    </div>
    <div id="image_4">
      <img class="image_4" id="{{.Image4}}" onclick="DoPost(this);" onmouseover="" style="cursor: pointer;" src={{.Image4}}>
    </div>
    <div id="restart" onclick="DoPost(this);" onmouseover="" >Back to Start</div>

{{end}}
